.countries {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.countries li {
    width: 15%;
}

.countries .countryLink {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.countries .countryLink:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}